{%extends 'base.html'%}
{%block content%}
<div class="container justify-content-left" styel="margin-top:5em;color: white">

    <h3>Type in the word</h3>
    <form action='/api/' method='POST' class='form-inline' id="dictform">
        {% csrf_token %}
        <input type='text' name='word' class='form-control mr-sm-2'>
        <input type="submit" value="GO" class="btn btn-outline-dark my-2 my-sm-0">
    </form>
</div>

<div class="container" style="margin:0 10em 0 10em;padding: 2em;">
    <div class="row">
        <div class="col-lg-4">
            <h2><u id="word"> </u> :</h2>
        </div>
        <div class="col-lg-6">
            <audio controls>
                <source src="{{pronunciation}}" type="audio/mpeg">
            </audio>
        </div>
    </div>
</div>
<div class="container" style="margin:10em;padding: 2em;margin-top: 1em;">

    <div class="row">
        <div class="col-lg-4">
            <h3><b>Definition :</b></h3>
        </div>
        <div class="col-lg-8">
            {{definition}}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <h3><b>Example :</b></h3>
        </div>
        <div class="col-lg-8">
            {{example}}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <h3><b>Synonyms :</b></h3>
        </div>
        <div class="col-lg-8">

        </div>
    </div>

</div>

<script>
    const form = document.getElementById("dictform");
    form.addEventListener("submit", (event) => {
        event.preventDefault();
        const form = event.target
        const formdata = new FormData(form)
        const url = form.getAttribute("action")
        const method = form.getAttribute("method")

        const xhr = new XMLHttpRequest()
        xhr.responseType = "json"
        xhr.open(method, url)
        xhr.onload = () => {
            // console.log(xhr.response)
            res = xhr.response
            const word = document.getElementById("word")
            word.innerHTML = `<h1>${res.word}:</h1>`
        }
        xhr.send(formdata)

    })



</script>

{%endblock content%}